@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

* {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

* {
    box-sizing: border-box;
}

header {
    max-width: 100%;
}

section {
    max-width: 100%;
}

nav a {
    border: 2px solid transparent;
    border-radius: 25px;
    padding:5px 10px;
}


nav a:hover {
    border: 2px solid white;
    border-radius: 25px;
    padding:5px 10px;
    transition: 500ms ease;
}

.workerdiv {
    border: 4px solid transparent;
}

.workerdiv:hover {
    cursor: pointer;
    box-shadow: 0 0 20px black;
    transition:500ms ease;
}